USE [master]
GO
/****** Object:  Database [Online_Maketingplace24_1]    Script Date: 7/25/2025 2:42:07 AM ******/
CREATE DATABASE [Online_Maketingplace24_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Online_Maketingplace24_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Online_Maketingplace24_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Online_Maketingplace24_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Online_Maketingplace24_1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Online_Maketingplace24_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Online_Maketingplace24_1]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[ImageURL] [nvarchar](255) NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](11) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[remember_token] [nvarchar](max) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogCategories]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogComments]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogComments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[BlogID] [int] NOT NULL,
	[ParentID] [int] NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[BlogID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ThumbnailURL] [nvarchar](500) NULL,
	[CategoryID] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[ViewCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogTagMap]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogTagMap](
	[BlogID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogTags]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogTags](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[ImageURL] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[ColorId] [int] IDENTITY(1,1) NOT NULL,
	[ColorName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[ColorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerMemberLevel]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerMemberLevel](
	[CustomerMemberLevelID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[TotalSpent] [decimal](18, 2) NOT NULL,
	[MemberID] [int] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_CustomerMemberLevel] PRIMARY KEY CLUSTERED 
(
	[CustomerMemberLevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountPeriod]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountPeriod](
	[DiscountPeriodID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountID] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
 CONSTRAINT [PK_DiscountPeriod] PRIMARY KEY CLUSTERED 
(
	[DiscountPeriodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountName] [nvarchar](255) NOT NULL,
	[DiscountType] [nvarchar](255) NOT NULL,
	[DiscountValue] [nvarchar](255) NOT NULL,
	[Status] [bit] NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Discounts] PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[FeedbackText] [nvarchar](255) NOT NULL,
	[Rating] [int] NOT NULL,
	[CreateFeedbackDate] [datetime] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[ProductVariantId] [int] NULL,
	[OrderID] [int] NOT NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageFeedback]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageFeedback](
	[ImageFeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[FeedbackID] [int] NULL,
	[ImageURL] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageFeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[MemberName] [varchar](255) NOT NULL,
	[MinAmount] [varchar](50) NOT NULL,
	[MaxAmount] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[ImageURL] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Member__0CF04B385DC8D67E] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[SellerID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [varchar](255) NOT NULL,
	[PaymentID] [int] NOT NULL,
	[OrderStatusID] [int] NOT NULL,
	[ProvinceCode] [int] NOT NULL,
	[ProvinceName] [nvarchar](255) NOT NULL,
	[DistrictCode] [int] NOT NULL,
	[DistrictName] [nvarchar](255) NOT NULL,
	[WardCode] [int] NOT NULL,
	[WardName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductVariantID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [varchar](50) NOT NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHistory]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHistory](
	[OrderHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderTotalAmount] [decimal](18, 2) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[OrderStatusID] [int] NOT NULL,
	[OrderStatusName] [nvarchar](255) NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[PaymentMethodID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMethodName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentMethodID] [int] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ImageURL] [nvarchar](255) NOT NULL,
	[ProductVariantId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[ThumbnailURL] [varchar](255) NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[DiscountID] [int] NULL,
	[CreateProductDate] [datetime] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Status] [nvarchar](max) NULL,
	[isDeleted] [bit] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariant]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariant](
	[ProductVariantId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[ColorId] [int] NULL,
	[SizeId] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [bigint] NULL,
	[Status] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductVariant] PRIMARY KEY CLUSTERED 
(
	[ProductVariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellerRequests]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[RequestDate] [datetime] NULL,
	[Status] [varchar](20) NULL,
	[ReviewedBy] [int] NULL,
	[ReviewDate] [datetime] NULL,
	[RejectReason] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 7/25/2025 2:42:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[SizeId] [int] IDENTITY(1,1) NOT NULL,
	[SizeName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[SizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [RoleID], [ImageURL], [FullName], [Email], [Password], [PhoneNumber], [Address], [CreateDate], [Status], [Description], [remember_token]) VALUES (17, 2, N'https://lethanhstudio.com/upload/doitac/25.jpg', N'Minh Lam', N'he187170tranminhlam@gmail.com', N'$2a$10$oAnJm7bVShIfFp4W6vLauu4GFCBvq6UePrSUtAYmjD7RJuiGIfgNG', N'0378890999', N'72, Xã Quảng Tâm, Huyện Tuy Đức, Tỉnh Đắk Nông', CAST(N'2025-06-23T06:54:30.170' AS DateTime), 1, N'Grocery Sales', N'e8f0b2e8-964b-4844-a8c7-ce8a2632f4c8')
INSERT [dbo].[Account] ([AccountID], [RoleID], [ImageURL], [FullName], [Email], [Password], [PhoneNumber], [Address], [CreateDate], [Status], [Description], [remember_token]) VALUES (18, 1, N'https://faceinch.vn/upload/elfinder/%E1%BA%A2nh/chup-chan-dung-4.jpg', N'Minh Trần', N'minhtran488930@gmail.com', N'$2a$10$oDoaXouDdSEVxtkGCbGdl.y/CXjmmkBdUuRcUmdVS.duzZI2waTH2', N'0378890999', N'72, Xã Thiện Phiến, Huyện Tiên Lữ, Tỉnh Hưng Yên', CAST(N'2025-06-23T01:49:20.867' AS DateTime), 1, N'System Manager', N'51e8e5bc-4310-4ba7-8247-b230cf18937c')
INSERT [dbo].[Account] ([AccountID], [RoleID], [ImageURL], [FullName], [Email], [Password], [PhoneNumber], [Address], [CreateDate], [Status], [Description], [remember_token]) VALUES (19, 3, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9oOmfa9lzO0RLRMKhybG2tGKgU26rF6Bogv4HkAyuxRvLxw0iatBSG8rJu4cgG2LDjAU&usqp=CAU', N'Minh Horri', N'nguyenhaiphong518@gmail.com', N'$2a$10$ns.0P176.iOgj4dMOpoCOuLM709L2V4f1ETKpDmgURBzCv6Oynk9O', N'0978777666', N'54, Xã Ngọc Hồi, Huyện Thanh Trì, Thành phố Hà Nội', CAST(N'2025-06-23T04:18:59.150' AS DateTime), 1, N'Unranked', NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogCategories] ON 

INSERT [dbo].[BlogCategories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Technology', N'Bài viết về công nghệ mới')
INSERT [dbo].[BlogCategories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Lifestyle', N'Chia sẻ về cuộc sống, thói quen, sức khỏe')
INSERT [dbo].[BlogCategories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Travel', N'Kinh nghiệm du lịch và khám phá')
SET IDENTITY_INSERT [dbo].[BlogCategories] OFF
GO
INSERT [dbo].[BlogTagMap] ([BlogID], [TagID]) VALUES (1, 1)
INSERT [dbo].[BlogTagMap] ([BlogID], [TagID]) VALUES (1, 5)
INSERT [dbo].[BlogTagMap] ([BlogID], [TagID]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[BlogTags] ON 

INSERT [dbo].[BlogTags] ([TagID], [TagName]) VALUES (1, N'AI')
INSERT [dbo].[BlogTags] ([TagID], [TagName]) VALUES (5, N'Coding')
INSERT [dbo].[BlogTags] ([TagID], [TagName]) VALUES (4, N'Finance')
SET IDENTITY_INSERT [dbo].[BlogTags] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [ImageURL], [Description]) VALUES (1, N'Electronics', N'https://knacert.com.vn/storage/thiet-bi-dien-gia-dung.png', N'Electronic equipment and components')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [ImageURL], [Description]) VALUES (2, N'Fashion', N'https://jemcloset.com/cdn/shop/articles/teen.webp?v=1688031962', N'Clothing, shoes and fashion accessories')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [ImageURL], [Description]) VALUES (3, N'Cosmetics', N'https://www.elle.vn/app/uploads/2018/07/10/my-pham-trang-diem-moi.jpg', N'Beauty and skin care products')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([ColorId], [ColorName]) VALUES (1, N'Blue')
INSERT [dbo].[Color] ([ColorId], [ColorName]) VALUES (2, N'White')
INSERT [dbo].[Color] ([ColorId], [ColorName]) VALUES (3, N'Black')
SET IDENTITY_INSERT [dbo].[Color] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([MemberID], [MemberName], [MinAmount], [MaxAmount], [Description], [ImageURL]) VALUES (1, N'Bronze Level Customers', N'1', N'1000000', N'Bronze Level Customers', N'img/Dong.png')
INSERT [dbo].[Member] ([MemberID], [MemberName], [MinAmount], [MaxAmount], [Description], [ImageURL]) VALUES (2, N'Silver Level Customers', N'1000001', N'5000000', N'Silver Level Customers', N'img/Bac.png')
INSERT [dbo].[Member] ([MemberID], [MemberName], [MinAmount], [MaxAmount], [Description], [ImageURL]) VALUES (3, N'Gold Level Customers', N'5000001', N'10000000', N'Gold Level Customers', N'img/Vang.png')
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [SellerID], [CustomerID], [OrderDate], [TotalAmount], [PaymentID], [OrderStatusID], [ProvinceCode], [ProvinceName], [DistrictCode], [DistrictName], [WardCode], [WardName]) VALUES (1, 17, 30, CAST(N'2025-07-25T02:19:05.913' AS DateTime), N'600000', 1, 2, 2, N'Tỉnh Hà Giang', 27, N'Huyện Mèo Vạc', 802, N'Xã Lũng Pù')
INSERT [dbo].[Order] ([OrderID], [SellerID], [CustomerID], [OrderDate], [TotalAmount], [PaymentID], [OrderStatusID], [ProvinceCode], [ProvinceName], [DistrictCode], [DistrictName], [WardCode], [WardName]) VALUES (2, 17, 30, CAST(N'2025-07-25T02:20:01.353' AS DateTime), N'600000', 2, 4, 1, N'Thành phố Hà Nội', 1, N'Quận Ba Đình', 4, N'Phường Trúc Bạch')
INSERT [dbo].[Order] ([OrderID], [SellerID], [CustomerID], [OrderDate], [TotalAmount], [PaymentID], [OrderStatusID], [ProvinceCode], [ProvinceName], [DistrictCode], [DistrictName], [WardCode], [WardName]) VALUES (3, 17, 19, CAST(N'2025-07-25T02:28:01.420' AS DateTime), N'1.4e+006', 3, 2, 22, N'Tỉnh Quảng Ninh', 206, N'Thị xã Quảng Yên', 7171, N'Xã Cẩm La')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailsID], [OrderID], [ProductVariantID], [Quantity], [UnitPrice], [Status]) VALUES (1, 1, 4, 3, N'200000', NULL)
INSERT [dbo].[OrderDetails] ([OrderDetailsID], [OrderID], [ProductVariantID], [Quantity], [UnitPrice], [Status]) VALUES (2, 2, 4, 3, N'200000', NULL)
INSERT [dbo].[OrderDetails] ([OrderDetailsID], [OrderID], [ProductVariantID], [Quantity], [UnitPrice], [Status]) VALUES (3, 3, 2, 7, N'200000', NULL)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderHistory] ON 

INSERT [dbo].[OrderHistory] ([OrderHistoryID], [OrderID], [CustomerID], [OrderTotalAmount], [CreatedDate]) VALUES (1, 1, 30, CAST(600000.00 AS Decimal(18, 2)), CAST(N'2025-07-25T02:19:05.990' AS DateTime))
INSERT [dbo].[OrderHistory] ([OrderHistoryID], [OrderID], [CustomerID], [OrderTotalAmount], [CreatedDate]) VALUES (2, 2, 30, CAST(600000.00 AS Decimal(18, 2)), CAST(N'2025-07-25T02:20:01.420' AS DateTime))
INSERT [dbo].[OrderHistory] ([OrderHistoryID], [OrderID], [CustomerID], [OrderTotalAmount], [CreatedDate]) VALUES (3, 3, 19, CAST(1400000.00 AS Decimal(18, 2)), CAST(N'2025-07-25T02:28:01.487' AS DateTime))
SET IDENTITY_INSERT [dbo].[OrderHistory] OFF
GO
INSERT [dbo].[OrderStatus] ([OrderStatusID], [OrderStatusName], [Description]) VALUES (1, N'Waiting for delivery', N'waiting for delivery')
INSERT [dbo].[OrderStatus] ([OrderStatusID], [OrderStatusName], [Description]) VALUES (2, N'Success', N'success')
INSERT [dbo].[OrderStatus] ([OrderStatusID], [OrderStatusName], [Description]) VALUES (3, N'Cancel', N'cancel')
GO
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([PaymentMethodID], [PaymentMethodName], [Description]) VALUES (1, N'Cash Payment', N'Thanh toan bang tien mat')
INSERT [dbo].[PaymentMethod] ([PaymentMethodID], [PaymentMethodName], [Description]) VALUES (2, N'Online Payment', N'Thanh toan truc tuyen')
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [PaymentDate], [PaymentMethodID]) VALUES (1, CAST(N'2025-07-25T02:19:05.000' AS DateTime), 2)
INSERT [dbo].[Payments] ([PaymentID], [PaymentDate], [PaymentMethodID]) VALUES (2, CAST(N'2025-07-25T02:20:01.000' AS DateTime), 1)
INSERT [dbo].[Payments] ([PaymentID], [PaymentDate], [PaymentMethodID]) VALUES (3, CAST(N'2025-07-25T02:28:01.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [ImageURL], [ProductVariantId]) VALUES (1, 1, N'/uploads/product/20231101_wqizpzFn7p.jpeg', NULL)
INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [ImageURL], [ProductVariantId]) VALUES (2, 2, N'/uploads/product/20231101_wqizpzFn7p.jpeg', NULL)
INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [ImageURL], [ProductVariantId]) VALUES (4, 3, N'/uploads/product/mout.jpg', NULL)
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [AccountID], [ThumbnailURL], [ProductName], [CategoryID], [DiscountID], [CreateProductDate], [Description], [Status], [isDeleted]) VALUES (1, 17, N'/uploads/product/20231101_wqizpzFn7p.jpeg', N'Hoodies', 2, NULL, CAST(N'2025-07-24T22:07:59.543' AS DateTime), N'So beautiful', N'Active', 0)
INSERT [dbo].[Products] ([ProductID], [AccountID], [ThumbnailURL], [ProductName], [CategoryID], [DiscountID], [CreateProductDate], [Description], [Status], [isDeleted]) VALUES (2, 17, N'/uploads/product/20231101_wqizpzFn7p.jpeg', N'Hoodies', 2, NULL, CAST(N'2025-07-24T22:14:50.427' AS DateTime), N'So beautiful', N'Active', 1)
INSERT [dbo].[Products] ([ProductID], [AccountID], [ThumbnailURL], [ProductName], [CategoryID], [DiscountID], [CreateProductDate], [Description], [Status], [isDeleted]) VALUES (3, 17, N'/uploads/product/mout.jpg', N'Wireless Mouse', 1, NULL, CAST(N'2025-07-24T22:40:45.403' AS DateTime), N'Ergonomic wireless mouse with silent clicks', N'Active', 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariant] ON 

INSERT [dbo].[ProductVariant] ([ProductVariantId], [ProductId], [ColorId], [SizeId], [Quantity], [Price], [Status]) VALUES (1, 1, 6, 4, 55, 200000, NULL)
INSERT [dbo].[ProductVariant] ([ProductVariantId], [ProductId], [ColorId], [SizeId], [Quantity], [Price], [Status]) VALUES (2, 2, 6, 4, 55, 200000, NULL)
INSERT [dbo].[ProductVariant] ([ProductVariantId], [ProductId], [ColorId], [SizeId], [Quantity], [Price], [Status]) VALUES (4, 3, 7, 7, 20, 200000, NULL)
SET IDENTITY_INSERT [dbo].[ProductVariant] OFF
GO
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Seller')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Customer')
GO
SET IDENTITY_INSERT [dbo].[SellerRequests] ON 

INSERT [dbo].[SellerRequests] ([RequestID], [AccountID], [RequestDate], [Status], [ReviewedBy], [ReviewDate], [RejectReason]) VALUES (1, 17, CAST(N'2025-07-24T21:35:45.253' AS DateTime), N'Approve', 18, CAST(N'2025-07-24T21:36:02.900' AS DateTime), NULL)
INSERT [dbo].[SellerRequests] ([RequestID], [AccountID], [RequestDate], [Status], [ReviewedBy], [ReviewDate], [RejectReason]) VALUES (2, 21, CAST(N'2025-07-25T01:17:25.530' AS DateTime), N'Approve', 18, CAST(N'2025-07-25T01:17:40.140' AS DateTime), NULL)
INSERT [dbo].[SellerRequests] ([RequestID], [AccountID], [RequestDate], [Status], [ReviewedBy], [ReviewDate], [RejectReason]) VALUES (3, 27, CAST(N'2025-07-25T02:07:10.030' AS DateTime), N'Approve', 18, CAST(N'2025-07-25T02:07:23.407' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[SellerRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([SizeId], [SizeName]) VALUES (1, N'S')
INSERT [dbo].[Size] ([SizeId], [SizeName]) VALUES (2, N'M')
INSERT [dbo].[Size] ([SizeId], [SizeName]) VALUES (3, N'L')
SET IDENTITY_INSERT [dbo].[Size] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BlogCate__8517B2E057A96D75]    Script Date: 7/25/2025 2:42:07 AM ******/
ALTER TABLE [dbo].[BlogCategories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BlogTags__BDE0FD1D2E76B287]    Script Date: 7/25/2025 2:42:07 AM ******/
ALTER TABLE [dbo].[BlogTags] ADD UNIQUE NONCLUSTERED 
(
	[TagName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[BlogComments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[CustomerMemberLevel] ADD  CONSTRAINT [DF__CustomerM__LastU__756D6ECB]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_isDeleted]  DEFAULT ((1)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[SellerRequests] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[SellerRequests] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Roles1] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Roles1]
GO
ALTER TABLE [dbo].[BlogComments]  WITH CHECK ADD  CONSTRAINT [FK_BlogComments_Blog] FOREIGN KEY([BlogID])
REFERENCES [dbo].[Blogs] ([BlogID])
GO
ALTER TABLE [dbo].[BlogComments] CHECK CONSTRAINT [FK_BlogComments_Blog]
GO
ALTER TABLE [dbo].[BlogComments]  WITH CHECK ADD  CONSTRAINT [FK_BlogComments_Parent] FOREIGN KEY([ParentID])
REFERENCES [dbo].[BlogComments] ([CommentID])
GO
ALTER TABLE [dbo].[BlogComments] CHECK CONSTRAINT [FK_BlogComments_Parent]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_Blogs_Author] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_Blogs_Author]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_Blogs_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[BlogCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_Blogs_Category]
GO
ALTER TABLE [dbo].[BlogTagMap]  WITH CHECK ADD  CONSTRAINT [FK_BlogTagMap_Tag] FOREIGN KEY([TagID])
REFERENCES [dbo].[BlogTags] ([TagID])
GO
ALTER TABLE [dbo].[BlogTagMap] CHECK CONSTRAINT [FK_BlogTagMap_Tag]
GO
ALTER TABLE [dbo].[CustomerMemberLevel]  WITH CHECK ADD  CONSTRAINT [FK_CustomerMemberLevel_Account] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[CustomerMemberLevel] CHECK CONSTRAINT [FK_CustomerMemberLevel_Account]
GO
ALTER TABLE [dbo].[CustomerMemberLevel]  WITH CHECK ADD  CONSTRAINT [FK_CustomerMemberLevel_Member] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[CustomerMemberLevel] CHECK CONSTRAINT [FK_CustomerMemberLevel_Member]
GO
ALTER TABLE [dbo].[DiscountPeriod]  WITH CHECK ADD  CONSTRAINT [FK_DiscountPeriod_Discounts] FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discounts] ([DiscountID])
GO
ALTER TABLE [dbo].[DiscountPeriod] CHECK CONSTRAINT [FK_DiscountPeriod_Discounts]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Account]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Order]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_ProductVariant] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariant] ([ProductVariantId])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_ProductVariant]
GO
ALTER TABLE [dbo].[ImageFeedback]  WITH CHECK ADD  CONSTRAINT [FK_ImageFeedback_Feedbacks] FOREIGN KEY([FeedbackID])
REFERENCES [dbo].[Feedbacks] ([FeedbackID])
GO
ALTER TABLE [dbo].[ImageFeedback] CHECK CONSTRAINT [FK_ImageFeedback_Feedbacks]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([SellerID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account1] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account1]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus] FOREIGN KEY([OrderStatusID])
REFERENCES [dbo].[OrderStatus] ([OrderStatusID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Payments] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([PaymentID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Payments]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_ProductVariant] FOREIGN KEY([ProductVariantID])
REFERENCES [dbo].[ProductVariant] ([ProductVariantId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_ProductVariant]
GO
ALTER TABLE [dbo].[OrderHistory]  WITH CHECK ADD  CONSTRAINT [FK_OrderHistory_Account] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[OrderHistory] CHECK CONSTRAINT [FK_OrderHistory_Account]
GO
ALTER TABLE [dbo].[OrderHistory]  WITH CHECK ADD  CONSTRAINT [FK_OrderHistory_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderHistory] CHECK CONSTRAINT [FK_OrderHistory_Order]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_PaymentMethod] FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[PaymentMethod] ([PaymentMethodID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_PaymentMethod]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK__ProductIm__Produ__0A9D95DB] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK__ProductIm__Produ__0A9D95DB]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_ProductVariant] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariant] ([ProductVariantId])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_ProductVariant]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Account]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Discounts] FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discounts] ([DiscountID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Discounts]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariant_Color] FOREIGN KEY([ColorId])
REFERENCES [dbo].[Color] ([ColorId])
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK_ProductVariant_Color]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariant_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK_ProductVariant_Products]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariant_Size] FOREIGN KEY([SizeId])
REFERENCES [dbo].[Size] ([SizeId])
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK_ProductVariant_Size]
GO
ALTER TABLE [dbo].[SellerRequests]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[SellerRequests]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[SellerRequests]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[SellerRequests]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[SellerRequests]  WITH CHECK ADD FOREIGN KEY([ReviewedBy])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[SellerRequests]  WITH CHECK ADD FOREIGN KEY([ReviewedBy])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[SellerRequests]  WITH CHECK ADD FOREIGN KEY([ReviewedBy])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[SellerRequests]  WITH CHECK ADD FOREIGN KEY([ReviewedBy])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD CHECK  (([Status]='Published' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [CHK_ProductVariant_Status] CHECK  (([Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [CHK_ProductVariant_Status]
GO
USE [master]
GO
